{% extends "base.html" %}

{% block title %}Welcome to Sparrow Robotics!{% endblock %}

{% block intro %}
    <!-- Intro -->
    <div id="intro">
        <h1>This is<br />Sparrow Robotics</h1>
        <p>I follow the white <s>rabbit</s> sparrow</p>
        <ul class="actions">
            <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>
    {% endblock %}

    {% block content %}

    <!-- Featured Post -->
    {% if featured %}
        <article class="post featured">
            <header class="major">
                <span class="date">{{ featured.date }}</span>
                <h2><a href="/post/{{ featured.slug }}">{{ featured.title }}</a></h2>
                <p>{{ featured.summary }}</p>
            </header>
            <a href="/post/{{ featured.slug }}" class="image main">
                <img src="{{ featured.image }}" alt="{{ featured.title }}" />
            </a>
            <ul class="actions special">
                <li><a href="/post/{{ featured.slug }}" class="button large">Full Story</a></li>
            </ul>
        </article>
    {% endif %}

    <!-- Posts -->
    <section class="posts">
        {% for post in posts %}
            <article>
                <header>
                    <span class="date">{{ post.date }}</span>
                    <h2><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>
                </header>
                {% if post.image %}
                <a href="/post/{{ post.slug }}" class="image fit">
                    <img src="{{ post.image }}" alt="" />
                </a>
                {% endif %}
                <p>{{ post.summary }}</p>
                <ul class="actions special">
                    <li><a href="/post/{{ post.slug }}" class="button">Full Story</a></li>
                </ul>
            </article>
        {% endfor %}
    </section>
{% endblock %}